#root {
  height: 100%;
  width: 100%;
}

:root {
  --primary-color: rgba(27, 27, 46, 0.514);
  --secondary-color: rgb(46, 23, 23);
}

@import url('https://fonts.googleapis.com/css?family=Dosis');

.primary {
  color: var(--primary-color);
}

* {

  font-family: 'Dosis';
}

body {
  background: url('../public/images/backgound.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  /* background-color: rgb(49, 0, 0); */
  font-size: 20px;
}

.custom-container {
  /* background-color: #282c34; */
  position: relative;
  min-height: 100vh;
  padding-bottom: 60px;
  padding: 10px;
}

.break {
  padding: 50px;
  border: 1px solid rgb(255, 255, 255);
}

.about-container {
  color: white;
  justify-items: center;
  font-size: 24px;
  line-height: 2;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 40px 50px;
}

.home-container {
  color: white;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-row {
  flex-basis: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.about-me {
  padding-top: 0px;

}

.footer-icon {
  display: inline;
  padding: 20px;
}

.header-box {
  background-color: var(--primary-color);
  /* min-height: 10px; */
  /* flex-direction: column;
  align-items: center;
  justify-content: center;
  display: inline; */
}

.footer-custom {
  display: flex;
  position: fixed;
  padding: 10px 10px 0px 10px;
  background-color: var(--secondary-color);
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 60px;

  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: antiquewhite;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 10px;
}

.nav {
  display: flex;
  justify-content: center;
  list-style: none;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: antiquewhite;
  border-radius: 10px;

}

.nav-link {
  margin: 5px 25px 5px 25px;
  /* background-color: rgb(49, 0, 0); */
  color: antiquewhite;

}



/* .active {
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: antiquewhite;
} */

.greeting {
  font-size: 55px;
  /* text-decoration: underline; */
}

.profile-picture {
  max-width: 85%;
  max-height: 85%;
  border-style: solid;
  border-radius: 20px;
  margin: 10px;
}

.project-image {
  max-width: 95%;
  max-height: 95%;
  border-style: solid;
  border-radius: 15px;
}

.class-links {
  list-style: none;
}


.projects {
  display: flex;
}

.project-container {
  color: antiquewhite;
  justify-items: center;
  font-size: 24px;
  line-height: 2;
  position: relative;
  margin-bottom: 80px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--secondary-color);
  border-radius: 20px;
  overflow: auto;
}

.overlay-text {
  color: white;
  font-size: 16px;
  position: absolute;
  /* top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  text-align: center;
}

.project-container:hover .overlay {
  opacity: .95;
}

.form-container {
  font-size: 1.6rem;
  font-weight: 300;
}

.form-container>* {
  margin: 5px 0;
}

.form-container input {
  font-size: 1.6rem;
  font-weight: 300;
  padding: 8px 1rem;
  border: 1px solid #777;
  border-radius: 3px;
  outline: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-card {
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.card-container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 100px;
}

.dir-column {
  flex-direction: column;
}

.form-container input {
  font-size: 1.6rem;
  font-weight: 300;
  padding: 8px 1rem;
  border: 1px solid #777;
  border-radius: 3px;
  outline: none;
  background-color: white
}

.form-container textarea {
  font-size: 1.6rem;
  font-weight: 300;
  padding: 8px 1rem;
  border: 1px solid #777;
  border-radius: 3px;
  outline: none;
  background-color: white
}

.footer-icon {
  /* background-color: #282c34; */
  border-style: solid;
  border-top: 0px;
  border-color: white;
  border-left: 0px;
  border-right: 0px;
}

.contact-links {
  padding: 0px
}

.pdf-container {
  width: 100%;
  height: 900px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-logo {
  max-height: 200px;
}